<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="unitTest_pathToSVN" value ="C:\Program Files\TortoiseSVN\bin\svn.exe"/>
    <add key="unitTest_workingCopyFolder" value ="C:\Apps\Dev\Code\star_tools\"/>
    <add key="unitTest_outputFolder" value ="C:\Temp\"/>
  </appSettings>
</configuration>